<li
  id="recognition-<%= recognition.id %>"
  class="list-group-item d-flex flex-column gap-1 <%= 'highlight-new' if local_assigns[:highlight] %>"
>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <div>
        <strong><%= recognition.sender.name %></strong>
        recognized
        <strong><%= recognition.recipient.name %></strong>
        with
        <span class="badge text-bg-secondary"><%= recognition.badge.name %></span>
      </div>
      <div class="text-muted"><%= recognition.message %></div>
      <div class="text-muted" style="font-size: 0.7rem">
        <%= time_ago_in_words(recognition.created_at) %> ago
      </div>
    </div>
    <% if recognition.sender == current_user %>
    <div>
      <%= button_to recognition_path(recognition), method: :delete, local: false, class: 'btn
      btn-outline-danger btn-sm', title: 'Delete recognition' do %>
      <i class="bi bi-trash"></i>
      <% end %>
    </div>
    <% end %>
  </div>
</li>
